<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.GalleryMapper">


	

    <select id="getList" resultType="org.zerock.domain.GalleryVO">
		<![CDATA[
			select * from tbl_gallery where gno > 0 
			]]>
	</select>
	 <select id="getList2" resultType="org.zerock.domain.ArtVO" >
		<![CDATA[
			select aname, artist, image, menu from tbl_art where gno=#{gno}
			]]>
	</select>
	
	<insert id="insert">
		insert into tbl_gallery (gno,gname,tel,address,mapurl,pay,hours,route,sns,image1)
		values (seq_gallery.nextval, #{gname}, #{tel}, #{address},#{mapurl},#{pay},#{hours},#{route},#{sns},#{image1})
	</insert>
	
	<insert id="insertSelectKey">

		<selectKey keyProperty="gno" order="BEFORE"	resultType="long">
			select seq_gallery.nextval from dual
		</selectKey>

		insert into tbl_gallery (gno,gname,tel,address,mapurl,pay,hours,route,sns,image1)
		values (#{gno}, #{gname}, #{tel}, #{address},#{mapurl},#{pay},#{hours},#{route},#{sns},#{image1})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.GalleryVO">
		select * from tbl_gallery where gno =#{gno}
	</select>
	
	<select id="read2" resultType="org.zerock.domain.GalleryVO">
		select * from tbl_gallery where gno =#{gno}
	</select>
	
	<delete id="delete">
		delete tbl_gallery where gno = #{gno}
	</delete>

	<update id="update">
		update tbl_gallery
		set gname= #{gname},
		tel=#{tel},
		address = #{address},
		mapurl=#{mapurl},
		pay=#{pay},
		hours=#{hours},
		route=#{route},
		sns=#{sns},
		image1=#{image1}
		
		
		where gno =	#{gno}
	</update>
	
	<sql id="criteria">
	 <trim prefix="(" suffix=") AND" prefixOverrides="OR">
		 	<foreach item = 'type' collection="typeArr">
		 		<trim prefix="OR">
		 			<choose>
		 				<when test="type == 'T'.toString()">
		 					gname like '%'||#{keyword}||'%'
		 				</when>
		 				<when test="type == 'C'.toString()">
		 					tel like '%'||#{keyword}||'%'
		 				</when>
		 				<when test="type == 'W'.toString()">
		 					address like '%'||#{keyword}||'%'
		 				</when>
		 				
		 			</choose>
		 		</trim>
		 	</foreach>
		 </trim>
		
	</sql>
	
	<select id="getListWithPaging" resultType="org.zerock.domain.GalleryVO">
		<![CDATA[
			select
				gno,gname,tel,address,mapurl,pay,hours,route,sns,image1
			from
				(
				select/*+INDEX_DESC(tbl_gallery pk_gallery)*/
					rownum rn,gno,gname,tel,address,mapurl,pay,hours,route,sns,image1
				from 
					tbl_gallery
			where
			]]>
			
			<include refid="criteria"></include>
		
		 <![CDATA[
			 rownum <=#{pageNum}*#{amount}
				)
		where rn > (#{pageNum}-1)*#{amount} 
		]]>
		
	</select>
	
	<select id ="getTotalCount" resultType="int">
		select count(*) from tbl_gallery 
		where 
		
		<include refid="criteria"></include>
		
		gno > 0
	</select>
	
	
	
	
</mapper>