<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.UserMapper">
	

    <select id="getList" resultType="org.zerock.domain.UserVO">
		<![CDATA[
			select * from tbl_user where uno > 0 
			]]>
	</select>
	
	<insert id="insert">
		insert into tbl_user (uno,id,pw,username,phone,address,email)
		values (seq_user.nextval, #{id}, #{pw}, #{username},#{phone},#{address},#{email})
	</insert>

	<insert id="insertSelectKey">

		<selectKey keyProperty="uno" order="BEFORE"	resultType="long">
			select seq_user.nextval from dual
		</selectKey>

		insert into tbl_user (uno,id,pw, username,phone,address,email)
		values (#{uno}, #{id}, #{pw}, #{username},#{phone},#{address},#{email})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.UserVO">
		select * from tbl_user where uno =	#{uno}
	</select>

	<delete id="delete">
		delete tbl_user where uno = #{uno}
	</delete>

	<update id="update">
		update tbl_user
		set id= #{id},
		pw=#{pw},
		username=#{username},
		phone=#{phone},
		address=#{address},
		email = #{email}
	
		where uno =	#{uno}
	</update>
	
	<sql id="criteria">
	 <trim prefix="(" suffix=") AND" prefixOverrides="OR">
		 	<foreach item = 'type' collection="typeArr">
		 		<trim prefix="OR">
		 			<choose>
		 				<when test="type == 'T'.toString()">
		 					id like '%'||#{keyword}||'%'
		 				</when>
		 				<when test="type == 'C'.toString()">
		 					pw like '%'||#{keyword}||'%'
		 				</when>
		 				<when test="type == 'W'.toString()">
		 					username,phone,address,email like '%'||#{keyword}||'%'
		 				</when>
		 				
		 			</choose>
		 		</trim>
		 	</foreach>
		 </trim>
		
	</sql>
	
	<select id="getListWithPaging" resultType="org.zerock.domain.UserVO">
		<![CDATA[
			select
				uno,id,pw,username,phone,address,email
			from
				(
				select/*+INDEX_DESC(tbl_user pk_user)*/
					rownum rn,uno,id,pw,username,phone,address,email
				from 
					tbl_user
			where
			]]>
			
			<include refid="criteria"></include>
		
		 <![CDATA[
			 rownum <=#{pageNum}*#{amount}
				)
		where rn > (#{pageNum}-1)*#{amount} 
		]]>
		
	</select>
	
	<select id ="getTotalCount" resultType="int">
		select count(*) from tbl_user 
		where 
		
		<include refid="criteria"></include>
		
		uno > 0
	</select>
	
	
	
	
</mapper>